PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://user:password@ep-example.eu-central-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="replace-with-strong-secret-key-min-16-chars"
JWT_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:5173"